{% extends "index.html" %}
{% block titulo %}Lista de Eventos{% endblock %}
{% block cuerpo %}

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<table align="center">    
    <tr>
        <h3 align="center">Eventos</h3>
        <th>Código</th>
        <th>Nombre</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Lugar</th>
        <th>Participantes</th>
        <th>URL</th>
    </tr>
    {% for evento in eventos %}
    <tr>
        <th>{{ evento.cod_even }}</th>
        <th>{{ evento.even_nom }}</th>
        <th>{{ evento.even_date_ini }}</th>
        <th>{{ evento.even_date_fin }}</th>
        <th>{{ evento.even_site }}</th>
        <th>{{ evento.get_even_part }}</th>
        <th>{{ evento.even_url }}</th>
    </tr>
    {% endfor %}  
</table>

{% endblock %}