{% extends "index.html" %}
{% block titulo %}Lista de Participantes{% endblock %}
{% block cuerpo %}

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<table align="center">
    <tr>
        <h3 align="center">Participantes</h3>
        <th>Código</th>
        <th>Cédula</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
    </tr>
    {% for participante in participantes %}
    <tr>
        <th>{{ participante.cod_part }}</th>
        <th>{{ participante.part_ced }}</th>
        <th>{{ participante.part_nom }}</th>
        <th>{{ participante.part_ape }}</th>
        <th>{{ participante.part_cor }}</th>
    </tr>
    {% endfor %}  
</table>

{% endblock %}