{% extends "index.html" %}
{% block titulo %}Lista de Analistas{% endblock %}
{% block cuerpo %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<table align="center">
    <tr>
        <h3 align="center">Investigadores</h3>
        <th>Código</th>
        <th>Cédula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Proyectos</th>
        <th>¿Activo?</th>
    </tr>
    {% for investigador in investigadores %}
    <tr>
        <th>{{ investigador.cod_in }}</th>
        <th>{{ investigador.in_ced }}</th>
        <th>{{ investigador.in_nom }}</th>
        <th>{{ investigador.in_ape }}</th>
        <th>{{ investigador.get_in_pro }}</th>
        <th>{{ investigador.in_act }}</th>
    </tr>
    {% endfor %}  
</table>

{% endblock %}
